<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/frontend/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/frontend/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/frontend/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/frontend/assets/images/icons/site.html">
    <link rel="mask-icon" href="/frontend/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/frontend/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/frontend/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/frontend/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/frontend/assets/css/style.css">
	<style>
		.btn{
			display: block!important;
		}
		.saved-address{
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			column-gap: 20px;
		}
		.address-card{
			margin-bottom:1.3rem;
			background-color: #f9f9f9;
			border:.1rem dashed #d7d7d7;
			
			padding: 0.85rem 2rem;	
		}
		.address-text{
			color: #666;
			font-weight: 300;
			font-size: 1.4rem;
			margin: 0 0 0.2rem;
		}
		.address-action{
			margin-top: 1.3rem;
			display: flex;
			gap:20px;
		}
		@media screen and (max-width:460px) {
			.saved-address{
				grid-template-columns: repeat(1, minmax(0, 1fr));
			}
		}
	</style>
</head>

<body>
    <div class="page-wrapper">
        <%- include("./navbar.ejs") %>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/frontend/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			
            			<form action="#" id="myform">
		                	<div class="row">
		                		<div class="col-lg-9">
									<div class="saved-address">
										<div class="address-card">
											<div class="address-text">
												<p>Siddharth Singh</p>
												<p>9372642011, sidsinghcs@gmail.com</p>
												<p>701/3, Shreeji Splendor, Brahmand</p>
											</div>
											<div class="address-action">
												<button type="button" class="btn btn-outline-primary-2 btn-order btn-block">Use this address</button>
											</div>
										</div>
										<div class="address-card">
											<div class="address-text">
												<p>Siddharth Singh</p>
												<p>9372642011, sidsinghcs@gmail.com</p>
												<p>701/3, Shreeji Splendor, Brahmand</p>
											</div>
											<div class="address-action">
												<button type="button" class="btn btn-outline-primary-2 btn-order btn-block">Use this address</button>
											</div>
										</div>
									</div>
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
									
		                				<div class="row">
		                					<div class="col-sm-6">
		                						<label>First Name *</label>
		                						<input type="text" name="fname" id="fname" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>Last Name *</label>
		                						<input type="text" name="lname" id="lname" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

	            						<label>Street address *</label>
	            						<input type="text" name="address1" id="address1" class="form-control" placeholder="House number and Street name" required>
	            						<input type="text" name="address2" id="address2" class="form-control" placeholder="Appartments, suite, unit etc ..." required>

	            						<div class="row">
		                					<div class="col-sm-6">
		                						<label>Town / City *</label>
		                						<input type="text" name="city" id="city" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>State / County *</label>
		                						<input type="text" name="state" id="state" id="district" class="form-control" disabled>
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

		                				<div class="row">
		                					<div class="col-sm-6">
		                						<label>Postcode / ZIP *</label>
		                						<input type="text" name="pincode" id="pincode" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>Reciever's Phone *</label>
		                						<input type="tel" name="phone" id="phone" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

	                					<label>Order notes (optional)</label>
	        							<textarea class="form-control" name="notes" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
										<div class="">
											<a class="" href="/register">Create an account?</a>
										</div><!-- End .custom-checkbox -->
										<input name="address" value="" id="mainaddress" type="hidden">
										<input name="name" value="" id="mainname" type="hidden">
		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
		                						<tr>
		                							<td><a href="#">Beige knitted elastic runner shoes</a></td>
		                							<td>$84.00</td>
		                						</tr>

		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>$160.00</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>Free shipping</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>$160.00</td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
										    <div class="card">
										        <div class="card-header" id="heading-1">
										            <h2 class="card-title">
										                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
										                    UPI
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
										            <div class="card-body">
										                Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card">
										        <div class="card-header" id="heading-2">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
										                    Cash on delivery
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
										            <div class="card-body">
														Pay at your doorsteps when you recieve the order.
													</div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card">
										        <div class="card-header" id="heading-3">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
										                    Debit Card/Credit Card
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
										            <div class="card-body">Use Debit card or credit card 
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										</div><!-- End .accordion -->

		                				<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Proceed to Checkout</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <%- include("./footer.ejs") %>
        <script>
            $("#cart-dropdown").hide();
			$("#pincode").on("input", function (event) {
				// console.log(1);
				var pincodeinput = $("#pincode").val();
				// console.log(pincodeinput);
				var pincodeurl = "https://api.postalpincode.in/pincode/" + pincodeinput;
				// console.log(pincodeurl);
				$.getJSON(pincodeurl, function (result) {
				if (result[0].Status == "Error") {
					// console.log("Please enter a valid pincode");
					$("#state").val("Please enter a valid pincode");
				} else {
					$("#state").val(result[0].PostOffice[0].State);
				}
				});
			});
			$('#myform').on('submit', function(e) {
				// e.preventDefault();
				// alert("hue");
				$('#mainaddress').val($('#address1').val()+', '+$('#address2').val()+', '+$('#city').val()+', '+$('#state').val()+', '+$('#pincode').val());
				$('#mainname').val($('#fname').val()+' '+$('#lname').val());
				//mainaddress.value	
				// console.log($('#mainname').val());	
				return true;	
			});
        </script>

</body>


</html>